html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

/* Nastavenie gradientu pre cele pozadie stranky*/

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  height: 100vh;
}

/*Nastylovanie celej karty welcome*/
.welcome {
  font-family: sans-serif;
  font-size: 0.9em;
  line-height: 1.5;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: white;
  width: 350px;
}

/*Nastylovanie uvodneho obrazku*/
.uvodni-img {
  display: block;
  margin-top: 5rem;
  width: 350px;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

/*Nastylovanie textov*/
h1 {
  font-family: Lobster;
  font-size: 3em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 1rem;
  background-color: #283e50;
}
.welcome__text {
  display: block;
  margin: 0 auto;
  width: 350px;
  height: auto;
  padding: 0 15px 20px 15px;
  background-color: #283e50;
}

/*Nastylovanie vseobecnej triedy btn*/
.btn {
  width: 350px;
  height: 50px;
  color: #f9f9f9;
  font-family: sans-serif;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  line-height: 3rem;
  text-align: center;
}

/*Pridanie specifickych farieb pre jednotlive buttons*/
.pravidla-btn {
  background-color: #1fcca4;
  border-bottom: solid 1px #283e50;
}

.start-btn {
  background-color: #0197f6;
}

/*Vyspecifikovanie stylu pri hover stave*/
.pravidla-btn:hover {
  background-color: #1cbb96;
}

.start-btn:hover {
  background-color: #0090e9;
}

.pravidla-nadpis {
  color: white;
  background-color: transparent;
  text-align: center;
}

/* ------------------------------PISKVORKY PART.2------------------------------*/

.body-pravidla {
  height: 100%;
}

/*modry container*/

.container {
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column; */
  display: block;
  background-color: #283e50;
  margin: 0 auto;
  width: 350px;
  border-radius: 10px 10px 0px 0px;
  font-family: sans-serif;
  font-size: 1em;
  color: white;
  padding: 20px 30px 0 30px;
  margin-top: 80px;
}

/*pravidla*/

ol {
  box-sizing: border-box;
  margin: 15px 0 20px 0;
  padding: 0 0 0 25px;
}

li {
  padding: 0 0 15px 0;
}

.icons {
  height: 1em;
  filter: invert(100%);
}

/*vzorove situacie*/

.ukazky {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.instructions-img {
  width: 100%;
  padding: 0;
}

figcaption {
  font-family: sans-serif;
  text-align: center;
  font-style: italic;
  margin-top: 0.5em;
}
figure {
  margin: 0 0 40px 0;
  padding: 0;
}

/*buttons*/

.home-btn {
  background-color: #1fcca4;
  border-bottom: solid 1px #283e50;
}

.secondstart-btn {
  background-color: #0197f6;
}

.home-btn:hover {
  background-color: #1cbb96;
}

/*RESPONSIVE DESIGN*/

@media (min-width: 650px) {
  .container {
    width: 640px;
  }

  .ukazky {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% / 2.5);
  }

  .btn.home-btn,
  .btn.secondstart-btn {
    width: 640px;
  }
}
