html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

/* Nastavenie gradientu pre cele pozadie stranky*/

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
  background-repeat: no-repeat;
}

/*Nastylovanie celej karty welcome*/
.welcome {
  font-family: sans-serif;
  font-size: 90%;
  line-height: 1.5;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: white;
  width: 350px;
}

/*Nastylovanie uvodneho obrazku*/
.uvodni-img {
  display: block;
  margin-top: 5rem;
  width: 350px;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

/*Nastylovanie textov*/
h1 {
  font-family: Lobster;
  font-size: 300%;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 1rem;

  color: white;
}
.welcome__text {
  display: block;
  margin: 0 auto;
  width: 350px;
  height: auto;
  padding: 0 15px 20px 15px;
  background-color: #283e50;
}

/*Nastylovanie vseobecnej triedy btn*/
.btn {
  width: 350px;
  height: 50px;
  color: #f9f9f9;
  font-family: sans-serif;
  font-size: 120%;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  line-height: 3rem;
  text-align: center;
}

/*Pridanie specifickych farieb pre jednotlive buttons*/
.pravidla-btn {
  background-color: #1fcca4;
  border-bottom: solid 1px #283e50;
}

.start-btn {
  background-color: #0197f6;
}

/*Vyspecifikovanie stylu pri hover stave*/
.pravidla-btn:hover {
  background-color: #1cbb96;
}

.start-btn:hover {
  background-color: #0090e9;
}

.pravidla-nadpis {
  color: white;
  background-color: transparent;
  text-align: center;
}

/* ------------------------------PISKVORKY PART.2------------------------------*/

/* .body-pravidla {
  height: 100%;
} */

/*modry container*/

.container {
  box-sizing: border-box;
  display: block;
  background-color: #283e50;
  margin: 0 auto;
  width: 350px;
  border-radius: 10px 10px 0px 0px;
  font-family: sans-serif;
  font-size: 100%;
  color: white;
  padding: 20px 30px 0 30px;
  margin-top: 80px;
}

/*pravidla*/

ol {
  box-sizing: border-box;
  margin: 15px 0 20px 0;
  padding: 0 0 0 25px;
}

li {
  padding: 0 0 15px 0;
}

.icons {
  height: 1em;
  filter: invert(100%);
}

/*vzorove situacie*/

.ukazky {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.instructions-img {
  width: 100%;
  padding: 0;
}

figcaption {
  font-family: sans-serif;
  text-align: center;
  font-style: italic;
  margin-top: 0.5em;
}
figure {
  margin: 0 0 40px 0;
  padding: 0;
}

/*buttons*/

.home-btn {
  background-color: #1fcca4;
  border-bottom: solid 1px #283e50;
}

.secondstart-btn {
  background-color: #0197f6;
}

.home-btn:hover {
  background-color: #1cbb96;
}

/*RESPONSIVE DESIGN*/

@media (min-width: 650px) {
  .container {
    width: 640px;
  }

  .ukazky {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  figure {
    width: calc(100% / 2.2);
  }

  .btn.home-btn,
  .btn.secondstart-btn {
    width: 640px;
  }
}

/* ------------------------------PISKVORKY PART.3------------------------------*/

.game {
  max-width: 80vmin;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.game__bar {
  color: white;
  font-family: sans-serif;
  font-size: 125%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.game__bar--left {
  display: flex;
  align-content: center;
  align-items: center;
}

.player--active {
  filter: invert(100%);
  margin-left: 10px;
}

.game__bar--right {
  display: flex;
  align-content: center;
  align-items: center;
}

.home {
  background-color: #1fcca4;
  width: 2em;
  height: 2em;
  border-radius: 5px;
  padding: 0.3em;
}

.home:hover,
.home:focus {
  background-color: #1cbb96;
}

.restart {
  background-color: #0197f6;
  width: 2em;
  height: 2em;
  border-radius: 5px;
  padding: 0.3em;
  margin-left: 10px;
}

.restart:hover,
.restart:focus {
  background-color: #0090e9;
}

.game__area {
  display: flex;
  flex-wrap: wrap;
  border-color: #283e50;
}

.game__area button {
  height: 8vmin;
  width: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #283e50;
  border-width: 1px;
}

.game__area button:hover,
.game__area button:focus {
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

/* ----------------------- 4. UKOL ADDING CROSSES A CIRCLES ----------------------------- */

.game__area--circle {
  background-image: url(images/circle.svg);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: gradual-growth;
  animation-duration: 0.15s;
}

.game__area--cross {
  background-image: url(images/cross.svg);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: gradual-growth;
  animation-duration: 0.15s;
}

@keyframes gradual-growth {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 65%;
  }
}
